{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
<div class="top-menu-action">
	<div class="sonata-actions-edit">
        <ul>
            {% if admin.hasroute('edit') and admin.id(object) and admin.isGranted('EDIT', object) and admin.show|length > 0 %}
                <li class="sae-element"><a href="{{ admin.generateObjectUrl('edit', object) }}">{% trans from 'SonataAdminBundle' %}link_action_edit{% endtrans %}</a></li>
            {% endif %}
            {% if admin.hasroute('show') and admin.isGranted('VIEW', object)%}
                <li class="sae-element"><a href="{{ admin.generateObjectUrl('show', object) }}">{% trans from 'SonataAdminBundle' %}link_action_show{% endtrans %}</a></li>
            {% endif %}
            {% if admin.hasroute('list') and admin.isGranted('LIST')%}
                <li class="sae-element"><a href="{{ admin.generateUrl('list') }}">{% trans from 'SonataAdminBundle' %}link_action_list{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </div>
</div>    
	
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span9">
            <table id="revisions" class="table table-bordered table-part-bordered">
                <thead>
                    <tr>
                        <th class="rev_id">{{ "td_revision"|trans({}, 'SonataAdminBundle') }}</th>
                        <th>{{ "td_timestamp"|trans({}, 'SonataAdminBundle') }}</th>
                        <th>{{ "td_username"|trans({}, 'SonataAdminBundle') }}</th>
                        <th>{{ "td_action"|trans({}, 'SonataAdminBundle') }}</th>
						<th>Настройки</th>
                    </tr>
                </thead>
                <tbody>
                    {% for revision in revisions %}
                        <tr>
                            <td class="rev_id">{{ revision.rev}}</td>
                            <td>{{ revision.timestamp | date}}</td>
                            <td>{{ revision.username}}</td>
                            <td><a href="{{ admin.generateObjectUrl('history_view_revision', object, {'revision': revision.rev }) }}" class="revision-link" rel="{{ revision.rev }}">{{ "label_view_revision"|trans({}, 'SonataAdminBundle') }}</a></td>
                            <td><a href="{{ admin.generateObjectUrl('history_revert_revision', object, {'revision': revision.rev }) }}" rel="{{ revision.rev }}" class="revert_link">{{ "label_revert_revision"|trans({}, 'SonataAdminBundle') }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="revision-detail" class="revision-detail">
		</div>	
    </div>

   <script type="text/javascript">
        jQuery(document).ready(function() {

            jQuery('a.revision-link').live('click', function(event) {
                event.stopPropagation();
                event.preventDefault();

                jQuery('#revision-detail').html('');
                if(!jQuery(this).parents('tr').hasClass('current')) {
					jQuery.ajax({
						url: jQuery(this).attr('href'),
						success: function(data) {
							jQuery('#revision-detail').html(data);
						}
					});
				}
				jQuery(this).parents('tr').toggleClass('current')
					.siblings().removeClass('current');
                return false;
            })
        });
    </script>
{% endblock %}