{% extends base_template %}

{% import 'ArmdCmsBundle:macro:common.html.twig' as common %}
{% import 'ArmdCmsBundle:macro:table.html.twig' as table %}
{% import 'ArmdCmsBundle:macro:tabs.html.twig' as tabs %}

{% block javascripts %}
    <script src="{{ asset('bundles/armdcms/assets/js/jquery.js') }}"></script>

    <script src="{{ asset('bundles/sonataadmin/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <script src="{{ asset('bundles/armdcms/assets/js/jquery-ui-1.8.23.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/armdcms/assets/js/jquery-ui-i18n.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/sonataadmin/jquery/jquery.form.js') }}"></script>
    <script src="{{ asset('bundles/sonataadmin/jquery/jquery.confirmExit.js') }}"></script>

    <script src="{{ asset('bundles/sonataadmin/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>

    <script src="{{ asset('bundles/sonataadmin/vendor/select2/select2.min.js') }}"></script>

    <script src="{{ asset('bundles/sonataadmin/App.js') }}"></script>
    <script src="{{ asset('bundles/sonataadmin/Admin.js') }}"></script>

    <script src="{{ asset('vendors/select2/select2.js') }}"></script>
    <script src="{{ asset('vendors/uploadify/jquery.uploadify.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/armdcms/css/style.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/armdcms/css/table.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/armdcms/css/tabs.css') }}" type="text/css" />
{% endblock %}

{% block title %}
    {% for menu in admin.breadcrumbs(action) %}
        {% if loop.last  %}
            {{ menu.label }}
        {% endif %}
    {% endfor %}
{% endblock%}

{% block actions %}
    {{ common.getActions(admin, object) }}
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {}, 'list') }}{% endblock %}

{% block content %}
    <div class="select2-container-multi">
        <ul class="select2-choices select2-choices-not-chosen">
            {% for name, value in get_lost_containers(containers) %}
            <li class="select2-search-choice">    <div>{{ name }}</div>    
                {% if value['deleteUrl'] is defined %}
                    <a href="{{ value['deleteUrl'] }}"
                       onclick="return start_field_dialog_form_add_{{ id }}(this);" class="select2-search-choice-close">
                    </a>
                {% endif %}
                </li>
            {% endfor %}    
        </ul>
    </div>

    {% if form.vars.errors|length > 0 %}
        <div class="sonata-ba-form-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="row-fluid">
        {{ common.block(tabs, {'class': 'span12'}) }}
        <div class="clear"></div>
    </div>

    {% include 'ArmdCmsBundle:CRUD:edit_orm_many_association_script.html.twig' %}
{% endblock %}

{% set tabsItems = [
    {'title': 'Блоки', 'selected': 'true'},
    {'title': 'Настройки'}] %}

{% set pageTypeSettings %}
    {{ common.getForm(admin, object, form) }}
{% endset %}

{% set layoutGrid %}
    {{ tabs.content(include(blockPath), {'index': 1, 'selected': true}) }}
{% endset %}

{% set tabs %}
    {{ tabs.create(tabsItems, layoutGrid, pageTypeSettings) }}
{% endset %}