{% macro create(head, containers, id) %}
    {% if containers[head.title] is defined %}
        {{ add_container(head.title) }}
        {% import 'ArmdAdminBundle:macro:common.html.twig' as common %}
        {% if (containers[head.title]['usageService'] and containers[head.title]['usageType'] )%}
            {% set body = [[common.iconItem({'title': 'Изменить', 'url': containers[head.title]['url'], 'class': 'list', 'onclick': "return start_field_dialog_form_add_" ~ id ~ "(this);"}),
                            common.iconItem({'title': containers[head.title]['usageService'], 'url': containers[head.title]['adminListUrl'], 'class': 'no-icon', 'target': "_blank"}),
                            common.iconItem({'title': containers[head.title]['usageType'],    'url': '', 'class': 'no-icon'}) ]] %}
        {% else %}
            {% set body = [[common.iconItem({'title': 'Изменить', 'url': containers[head.title]['url'], 'class': 'list', 'onclick': "return start_field_dialog_form_add_" ~ id ~ "(this);"})]] %}
        {% endif %}
<div class="block-wrap{% if containers[head.title]['isMain'] %} main-block{% endif %}" data-type="swappable"
     {% if containers[head.title]['id'] is defined %}id={{ containers[head.title]['id'] }}{% endif %}
     xmlns="http://www.w3.org/1999/html">
            <div class="table-wrap">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th {% if head.colspan %} colspan="{{ head.colspan }}"{% endif %}>
                                <div class="th-wrap" {% if containers[head.title]['containerId'] is defined %}id={{ containers[head.title]['containerId'] }}{% endif %}>
                                    {{ head.title }}
                                </div>
                                {% if containers[head.title]['deleteUrl'] is defined %}
                                    <div class="th-close-wrap" id={{ containers[head.title]['id'] }}>
                                        <a href="{{ containers[head.title]['deleteUrl'] }}"
                                           onclick="return start_field_dialog_form_add_{{ id }}(this);">
                                            <div class="th-close-img"></div>
                                        </a
                                    </div>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tr in body %}
                            <tr>
                                {% for td in tr %}
                                    <td {% if loop.index == 2 or loop.index == 3 %}class="param-drop"{% endif %}>
                                       {{ td|raw }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            {% if body %}
                                <tr>
                                    <td>
                                        {{ body }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <div class="container sonata-ba-modal sonata-ba-modal-edit-one-to-one" style="display: none" id="field_dialog_{{ id }}"></div>
            </div>
        </div>
    {% else %}
        <div class="sonata-ba-form-error">
            <div class="clearfix error">
                <span class="help-inline">Блок {{ head.title }} не связан с текущим типом страниц!</span>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro createTable(head, body, options) %}
	<link rel="stylesheet" href="{{ defaults.common }}/css/table.css">

	<div class="table-wrap">
		<table class="table table-bordered{% if options.last %} last{% endif %}">
			<thead>
				<tr>
					{% for th in head %}
						<th {% if th.width is defined %} width="{{ th.width }}"{% endif %}>
							<div class="th-wrap{% if th.align is defined %} {{ th.align }}{% endif %}">
                               {% if th.title is defined %} {{ th.title }} {% endif %}
							</div>
						</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for tr in body %}
					<tr>
						{% for td in 1..head|length %}
							<td>
								{{ tr[td-1] }}
							</td>
						{% endfor %}
					</tr>
				{% else %}
					{% if body %}
						<tr>
							<td>
								{{ body }}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endmacro %}

{% macro createTableMain(head, body, options, fav) %}

	<link rel="stylesheet" href="{{ defaults.common }}/css/table.css">

	<div class="table-wrap table-wrap-main">
		<table class="table table-bordered{% if options.last %} last{% endif %} dashboard-table">
			<thead>
				<tr>
					{% for th in head %}
						<th {% if th.width is defined %} width="33%"{% endif %}>
                           {% if loop.first %}
                           <div class="th-wrap-fav">
                                <a class="sys_delete_favorit" href="#" title="Удалить из избранного"></a>
                                <input type="hidden" class="_sys_delete_favorit_url" value="{{ path('_sys_delete_favorit', {'serviceId': fav} ) }}">
                            </div>    
							<div class="th-wrap{% if th.align is defined %} {{ th.align }}{% endif %}">
                                {% if th.title is defined %} {{ th.title }} {% endif %}
                            </div>
                                {% else %}
                            <div class="th-wrap{% if th.align is defined %} {{ th.align }}{% endif %}">
                                {% if th.title is defined %} {{ th.title }} {% endif %}
                            </div>
						</th>
						{% endif %}
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for tr in body %}
					<tr>
						{% for td in 1..head|length %}
							<td>
								{{ tr[td-1]|raw }}
							</td>
						{% endfor %}
					</tr>
				{% else %}
					{% if body %}
						<tr>
							<td>
								{{ body }}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endmacro %}

