{% import defaults.macros ~ '/common.html.twig' as common %}
{% import _self as groups %}
{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    {% for group_name in settings.groups%}
        {% if admin_pool.dashboardGroups[group_name] is defined %}
            {% set group = admin_pool.dashboardGroups[group_name] %}
            {{ groups.showGroup(group, common) }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% macro showGroup(group, common) %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="0">{{ group.label|trans({}, 'SonataAdminBundle') }}</th>
                <th colspan="0"></th>
                <th colspan="0">Настройки{#{{ group.label|trans({}, 'SonataAdminBundle') }}#}</th>
            </tr>
        </thead>

        <tbody>
            {% for admin in group.items %}
                {% if admin.hasroute('create') and admin.isGranted('CREATE') or admin.hasroute('list') and admin.isGranted('LIST') %}
                    <tr>
                        <td width="50%">{{ admin.label|trans({}, admin.translationdomain) }}</td>
                        <td{% if loop.first %}{% endif %}>
                            {% if admin.hasroute('create') and admin.isGranted('CREATE') %}
                                {% set name %}
                                    {%- trans from 'SonataAdminBundle' %}link_add{% endtrans -%}
                                {% endset %}

                                {{ common.iconItem({'title': name, 'url': admin.generateUrl('create'), 'class': 'addNew'}) }}
                            {% endif %}
                        </td>
                        <td{% if loop.first %} width="20%"{% endif %}>
                            {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                {% set name %}
                                    {%- trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
                                {% endset %}

                                {{ common.iconItem({'title': name, 'url': admin.generateUrl('list'), 'class': 'list'}) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}